* {
  margin: 0;
  padding: 0;
}
/*----------------------------------------------------*/
/*                                                    */
/*                PAGINA PRINCIPAL                    */
/*                                                    */
/*----------------------------------------------------*/

/*--------------HEADER--------------*/
header {
  height: 200px;
  background-color: rgb(73, 172, 202);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuBurger {
  display: none;
}

.logo {
  height: 150px;
  width: 150px;
  margin-left: 300px;
}

ul {
  background-color: rgb(108, 212, 243);
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
}

li {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  display: inline;
  margin-right: 60px;
  color: palevioletred;
}

a {
  text-decoration: none;
  color: palevioletred;
}

/*--------------BANNER--------------*/
.banner {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__contenido {
  width: 80%;
  height: 77vh;
  background-color: pink;
  text-align: center;
}

.img_contenidor {
  margin-top: 30px;
  width: 80%;
}

/*--------------CONTENIDO EXTRA--------------*/
.otrainfo {
  display: flex;
  justify-content: space-evenly;
}

.info1 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.info1__img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  border: 10px solid rgb(108, 212, 243);
}
.info1__text {
  margin: 25px 40px 20px 40px;
  text-align: center;
  font-size: 20px;
}

.info2 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.info2__img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  border: 10px solid pink;
}
.info2__text {
  margin: 25px 40px 20px 40px;
  text-align: center;
  font-size: 20px;
}

.info3 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.info3__img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  border: 10px solid rgb(108, 212, 243);
}
.info3__text {
  margin: 25px 40px 20px 40px;
  text-align: center;
  font-size: 20px;
}

/*--------------FOOTER--------------*/

.foot__contenido {
  background-color: pink;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 0 25px;
}

.whatsapp,
.instagram {
  height: 50px;
  width: 50px;
  margin: 0 25px 15px 0;
}

/*----------------------------------------------------*/
/*                                                    */
/*                PAGINA NOSOTROS                     */
/*                                                    */
/*----------------------------------------------------*/
.contNosotros {
  margin: 50px;
  font-size: 20px;
  border: 5px solid black;
  padding: 20px;
  border-radius: 55px;
}

.contNosotros img {
  width: 50%;
  border-radius: 55px;
  float: left;
  margin: 0 30px 15px 0;
}

/*----------------------------------------------------*/
/*                                                    */
/*                PAGINA PRODUCTOS                    */
/*                                                    */
/*----------------------------------------------------*/
.conteDAD {
  background-color: aquamarine;
  width: 90%;
  height: 950px;
  margin: 30px auto;
  display: flex;
}

.contedere {
  width: 80%;
}
.conteizq {
  width: 90%;
}

.conte__produ2 {
  width: 80%;
  height: 250px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 10px 0 10px;
  text-align: center;
  background-color: thistle;

  margin: 30px;
}

.conte2_img {
  width: 100px;
  height: 100px;
  border: 6px solid white;
  border-radius: 50px;
  margin-left: 10px;
}

h2 {
  color: aqua;
  font-weight: bolder;
  font-size: 25px;
}

.card2 {
  border: none;
  background-color: lightseagreen;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.411);
  border-radius: 30px;
}

.card2:hover {
  background-color: rgb(170, 149, 170);
}

/* --------------------------------------------------------- */

a {
  text-decoration: none;
  color: inherit;
}

/*----------------------------------------------------*/
/*                                                    */
/*                PAGINA GALERIA                      */
/*                                                    */
/*----------------------------------------------------*/

.galeria__conte {
  background-color: aqua;
  width: 95%;
  height: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px 500px;
}

.a {
  border: 1px solid black;
  background-color: coral;
  grid-row: 1/3;
  grid-column: 1/3;
}
.a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.b {
  border: 1px solid black;
  background-color: rgb(255, 200, 80);
  grid-row: 1/2;
  grid-column: 3/4;
}
.b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c {
  border: 1px solid black;
  background-color: rgb(150, 255, 80);
  grid-row: 2/3;
  grid-column: 3/4;
}
.c img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.d {
  border: 1px solid black;
  background-color: rgb(220, 80, 255);
  grid-row: 3/4;
  grid-column: 1/2;
}
.d img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.e {
  border: 1px solid black;
  background-color: rgb(220, 24, 122);
  grid-row: 3/4;
  grid-column: 2/4;
}
.e img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*----------------------------------------------------*/
/*                                                    */
/*              MEDIA QUERY PRINCIPAL                 */
/*                                                    */
/*----------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  /*----------------------------------------------------*/
  /*                   PAGINA PRINCIPAL                 */
  /*----------------------------------------------------*/

  /*--------------HEADER--------------*/
  header {
    height: 150px;
    display: flex;
    justify-content: center;
  }
  ul {
    padding: 10px;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin: 0 50px;
  }

  .menuBurger {
    display: flex;
    justify-content: flex-end;
    background-color: pink;
    width: 100%;
    height: 50px;
  }

  .menuBurger img {
    margin: 10px 15px;
  }

  /*--------------BANNER--------------*/
  .banner {
    margin-top: 20px;
    height: 25vh;
  }

  .banner__contenido {
    width: 90%;
    height: 100%;
  }

  .img_contenidor {
    margin-top: 10px;
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  /*--------------CONTENIDO EXTRA--------------*/
  .otrainfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info1 {
    width: 90%;
    margin-top: 30px;
    height: 500px;
    overflow: scroll;
  }
  .info1__img {
    width: 120px;
    height: 120px;
  }
  .info1__text {
    font-size: 25px;
  }

  .info2 {
    width: 90%;
    margin-top: 30px;
    height: 500px;
    overflow: scroll;
  }
  .info2__img {
    width: 120px;
    height: 120px;
  }
  .info2__text {
    font-size: 25px;
  }

  .info3 {
    width: 90%;
    margin-top: 30px;
    height: 500px;
    overflow: scroll;
  }
  .info3__img {
    width: 120px;
    height: 120px;
  }
  .info3__text {
    font-size: 25px;
  }

  /*--------------FOOTER--------------*/
  .foot__contenido {
    flex-direction: column;
    align-items: center;
  }

  .foot__img {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .whatsapp,
  .instagram {
    margin-right: 15px;
  }

  /*-----------------PAGINA NOSOTROS---------------------*/

  .contNosotros {
    width: 80%;
    height: 600px;
    overflow: scroll;
    margin: 10px auto;
  }
  .contNosotros img {
    width: 100%;
    height: 300px;
    border-radius: 30px;
  }
  .contNosotros__text {
    height: 100%;
  }

  /*-----------------PAGINA PRODUCTOS---------------------*/
  .conteDAD {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contedere {
    width: 100%;
  }
  .conteizq {
    width: 100%;
  }
  .conte__produ2 {
    margin: 20px auto;
  }

  /*-----------------PAGINA Galeria---------------------*/
  .galeria__conte {
    background-color: rgba(0, 255, 0, 0.583);
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
  }

  .a {
    margin-top: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .a img {
    width: 100%;
  }

  .b {
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .c {
    margin-top: 20px;
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .d {
    margin-top: 20px;
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .e {
    margin-top: 20px;
    grid-row: 6/7;
    grid-column: 1/2;
  }
}

/*----------------------------------------------------*/
/*                                                    */
/*                   MEDIA QUERY  2.0                 */
/*                                                    */
/*----------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  /*--------------BANNER--------------*/
  .header {
    width: 100%;
  }
  li {
    margin-right: 35px;
  }

  .menuBurger img {
    margin: 0 50px;
  }
  .banner {
    margin-top: 20px;
    height: 25vh;
  }

  .banner__contenido {
    width: 90%;
    height: 100%;
  }

  .img_contenidor {
    margin-top: 10px;
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  /*--------------CONTENIDO EXTRA--------------*/
  .info1__img {
    width: 200px;
    height: 200px;
  }
  .info2__img {
    width: 200px;
    height: 200px;
  }
  .info3__img {
    width: 200px;
    height: 200px;
  }

  .contenedor2 {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 90%;
  }
  /*-----------------PAGINA Galeria---------------------*/
  .galeria__conte {
    background-color: rgba(255, 0, 191, 0.583);
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
  }

  .a {
    margin-top: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .a img {
    width: 100%;
  }

  .b {
    margin-top: 20px;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .c {
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .d {
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .e {
    margin-top: 20px;
    grid-row: 6/7;
    grid-column: 1/3;
  }
}
