body {
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 80%;
  height: 600px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 40px;
  background-color: rgba(220, 20, 60, 0.411);
  display: flex;
}
.espacio {
  display: none;
}
.izq {
  width: 60%;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  margin: 10px;
}

.mini {
  margin-top: 25px;
  color: aqua;
  font-size: 30px;
}
.izq__postreimg {
  margin-top: 30px;
  width: 50%;
  height: 300px;
  border-radius: 50px;
}

.izq__postretext {
  margin-top: 30px;
  font-size: 25px;
  margin-left: 10px;
}

.dere {
  width: 30%;
  margin-left: 30px;
  margin-top: 50px;
}

.form {
  text-align: center;
  width: 100%;
  height: 400px;
  font-size: 30px;
}

label,
select {
  margin-top: 30px;
}

select {
  margin-left: 100px;
  width: 200px;
  height: 40px;
}

.boton {
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0;
}

.card2 {
  width: 500px;
  margin-top: 20px;
  margin-left: 10px;
}

@media only screen and (max-width: 1000px) {
  /*--------------CONTENIDO DE TARJETA PRODUCTO--------------*/

  .contenedor {
    width: 90%;
    height: 100%;
    background-color: rgba(117, 220, 20, 0.411);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .izq {
    width: 100%;
    border: none;
    margin: 10px auto;
  }
  .izq__postreimg {
    width: 90%;
  }
  .dere {
    width: 100%;
    margin: 10px auto;
  }
  .espacio {
    display: inline;
  }

  label,
  select {
    margin-top: 0px;
  }

  select {
    margin-left: 0px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
  }

  .card2 {
    width: 80%;
  }

  .form {
    height: 100%;
  }
}
