* {
  margin: 0;
  padding: 0;
}

/*--------------HEADER--------------*/
header {
  height: 300px;
  background-color: rgb(73, 172, 202);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuBurger {
  display: none;
}

.logo {
  height: 250px;
  width: 250px;
  margin-left: 300px;
}

ul {
  background-color: rgb(108, 212, 243);
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
}

li {
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  display: inline;
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: palevioletred;
}

/*--------------BANNER--------------*/
.banner {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__contenido {
  width: 80%;
  height: 77vh;
  background-color: pink;
  text-align: center;
}

.img_contenidor {
  margin-top: 30px;
  width: 80%;
}

/*--------------CONTENIDO EXTRA--------------*/
.otrainfo {
  display: flex;
  justify-content: space-evenly;
}

.info1 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.info1__img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  border: 10px solid rgb(108, 212, 243);
}
.info1__text {
  margin: 25px 40px 20px 40px;
  text-align: center;
  font-size: 20px;
}

.info2 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.info2__img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  border: 10px solid pink;
}
.info2__text {
  margin: 25px 40px 20px 40px;
  text-align: center;
  font-size: 20px;
}

.info3 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.info3__img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  border: 10px solid rgb(108, 212, 243);
}
.info3__text {
  margin: 25px 40px 20px 40px;
  text-align: center;
  font-size: 20px;
}

/*--------------FOOTER--------------*/

.foot__contenido {
  background-color: pink;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 0 25px;
}

.whatsapp,
.instagram {
  height: 50px;
  width: 50px;
}

/*----------------------------------------------------*/
/*            PAGINA PRINCIPAL MEDIA QUERY            */
/*----------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  /*--------------HEADER--------------*/
  header {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 200px;
    height: 200px;
    margin: 0 50px;
  }

  ul {
    display: none;
  }

  .menuBurger {
    display: flex;
    justify-content: flex-end;
    background-color: pink;
    width: 100%;
    height: 60px;
  }

  .menuBurger img {
    margin: 10px 30px 10px 0;
  }

  /*--------------BANNER--------------*/
  .banner {
    margin-top: 20px;
  }

  .banner__contenido {
    width: 90%;
    height: 100%;
  }

  .img_contenidor {
    margin-top: 0px;
    width: 90%;
  }

  /*--------------CONTENIDO EXTRA--------------*/
  .otrainfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info1 {
    width: 90%;
    margin-top: 30px;
    height: 600px;
    overflow: scroll;
  }
  .info1__text {
    font-size: 25px;
  }

  .info2 {
    width: 90%;
    margin-top: 30px;
    height: 600px;
    overflow: scroll;
  }
  .info2__text {
    font-size: 25px;
  }

  .info3 {
    width: 90%;
    margin-top: 30px;
    height: 600px;
    overflow: scroll;
  }
  .info3__text {
    font-size: 25px;
  }

  /*--------------FOOTER--------------*/
  .foot__contenido {
    flex-direction: column;
  }

  .foot__img {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .whatsapp,
  .instagram {
    margin-right: 15px;
  }
}
